[Unit]
Description=Aqbota_roslaunch

[Service]
User=robot
ExecStart=/home/robot/aqbota.sh
TimeoutSec=600
Restart=on-failure
Environment="LINOLIDAR=rplidar"
Environment="LINOBASE=2wd"
Environment="CATKIN_SHELL=bash"
Environment="


[Install]
WantedBy=multi-user.target